.dumi/
.github/
.husky/
.vscode/
android/
demo/
docs/
ios/
node_modules/
scripts/


.umi
.umi-production
__tests__
__fixtures__
docs-dist/
src/**/*.md

.DS_Store
.buckconfig
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.umirc.ts
.watchmanconfig
CHANGELOG.md
CONTRIBUTING.md
app.json
babel.config.js
changelog.config.js
commitlint.config.js
index.demo.js
jest-setup.js
jest.config.js
metro.config.js
tsconfig.json
tsconfig.*.json
typing.d.ts