<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="https://raw.githubusercontent.com/24jieqi/react-native-xiaoshu/main/logo-xiaoshu.svg">
<link rel="stylesheet" href="/react-native-xiaoshu/umi.fb1e13dc.css">
<script src="/react-native-xiaoshu/_umi_route_preload_helper.3aba3284.js"></script>
</head>
<body>
<div id="root"></div>
<script src="/react-native-xiaoshu/umi.e1a3e1e2.js"></script>
</body>
</html>